* {
    font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    margin: 0;
    padding: 14px;
}

.dark {
    background-color: rgb(31,31,31);
}

.dark h1 {
    color: white;
}

.dark h3 {
    color: white;
}

.dark h6 {
    color: white;
}

.dark p {
    color: white;
}